CONFIG_MIPS=y
CONFIG_MACH_MT7621=y
CONFIG_BOARD_MT7621_EVB=y
CONFIG_MT7621_DRAM_FREQ_1200=y
CONFIG_MT7621_SPI_BOOT=y
CONFIG_MT7621_SPL_FLASH_SECTOR_SIZE=0x1000
CONFIG_DEFAULT_DEVICE_TREE="mt7621_evb"
# CONFIG_ARCH_FIXUP_FDT_MEMORY is not set
CONFIG_ROM_EXCEPTION_VECTORS=y
# CONFIG_EXPERT is not set
CONFIG_DEBUG_UART=y
CONFIG_BOOTDELAY=0
CONFIG_DISPLAY_CPUINFO=y
# CONFIG_DISPLAY_BOARDINFO is not set
CONFIG_SPL=y
CONFIG_SPL_SYS_MALLOC_F_LEN=0x10000
CONFIG_TPL_SYS_MALLOC_F_LEN=0x400
CONFIG_SPL_LEGACY_IMAGE_SUPPORT=y
CONFIG_SPL_SYS_MALLOC_SIMPLE=y
# CONFIG_SPL_RAW_IMAGE_SUPPORT is not set
CONFIG_SPL_MTK_SUPPORT=y
CONFIG_SPL_SERIAL_SUPPORT=y
CONFIG_SPL_LIBCOMMON_SUPPORT=y
CONFIG_SPL_LIBGENERIC_SUPPORT=y
CONFIG_SPL_LDSCRIPT="arch/$(ARCH)/mach-mt7621/u-boot-spl-rom.lds"
CONFIG_CMDLINE=y
CONFIG_AUTOBOOT=y
CONFIG_CMD_BDI=y
CONFIG_CMD_CONSOLE=y
CONFIG_CMD_BOOTD=y
CONFIG_CMD_BOOTM=y
CONFIG_CMD_BOOTMENU=y
# CONFIG_CMD_ELF is not set
CONFIG_CMD_FDT=y
CONFIG_CMD_GO=y
CONFIG_CMD_RUN=y
CONFIG_CMD_MII=y
# CONFIG_CMD_IMI is not set
CONFIG_CMD_MTDPARTS=y
CONFIG_CMD_MTKUPGRADE=y
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_EXPORTENV is not set
# CONFIG_CMD_IMPORTENV is not set
# CONFIG_CMD_DM is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_FPGA is not set
# CONFIG_CMD_LOADS is not set
# CONFIG_CMD_ECHO is not set
# CONFIG_CMD_ITEST is not set
# CONFIG_CMD_SOURCE is not set
# CONFIG_CMD_SETEXPR is not set
# CONFIG_CMD_NFS is not set
# CONFIG_PARTITIONS is not set
CONFIG_OF_CONTROL=y
CONFIG_OF_EMBED=y
CONFIG_ENV_IS_IN_SPI_FLASH=y
# CONFIG_DM_WARN is not set
# CONFIG_DM_DEVICE_REMOVE is not set
CONFIG_NET=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_MTD=y
CONFIG_DM_SPI_FLASH=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_BAR=y
CONFIG_SPI_FLASH_ATMEL=y
CONFIG_SPI_FLASH_EON=y
CONFIG_SPI_FLASH_GIGADEVICE=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_SPANSION=y
CONFIG_SPI_FLASH_STMICRO=y
CONFIG_SPI_FLASH_SST=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_SPI_FLASH_USE_4K_SECTORS=y
CONFIG_SPI_FLASH_MTD=y
CONFIG_DM_ETH=y
CONFIG_MT7621_ETH=y
CONFIG_BAUDRATE=57600
CONFIG_DEBUG_UART_BASE=0xbe000c00
CONFIG_DEBUG_UART_CLOCK=50000000
CONFIG_SYS_NS16550=y
CONFIG_DM_SPI=y
CONFIG_RT6855A_SPI=y
CONFIG_RT6855A_SPI_FLASH_OPTIMIZATION=y
# CONFIG_REGEX is not set
CONFIG_LZMA=y
CONFIG_SPL_LZMA=y